[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "phpdoc-ja-docset"]
	path = phpdoc-ja-docset
	url = git@github.com:miukoba/phpdoc-ja-docset.git
