[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "h2u_colorscheme"]
	path = h2u_colorscheme
	url = git://github.com/hail2u/h2u_colorscheme.git
