[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule "vimrc.d/vimdoc-ja"]
	path = vimrc.d/vimdoc-ja
	url = git@github.com:vim-jp/vimdoc-ja.git
